@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  display: flex;
  justify-content: space-between; /* Optional: sorgt für Abstand */
  width: 100%; /* Optional: gibt dem Container eine Breite */
}

.textbox {
  width: 100%; /* Nimmt die volle Breite des Containers ein */
  margin: 10px; /* Optional: Abstand oberhalb der Textbox */
  padding: 10px; /* Optional: Innenabstand für die Textbox */
  border-radius: 20px; /* Abgerundete Ecken */
  border: 2px solid #580000; /* Optional: Border-Farbe */
  background-color: #ffffff; /* Hintergrundfarbe */
  color: #0a0a0a; /* Textfarbe */
  font-size: 16px; /* Schriftgröße */
}

.header {
  font-size: 36px;
  text-align: center;
}

.header_box {
  flex: 1; /* Teilt den verfügbaren Platz auf die Textboxen auf */
  margin: 10px 10px; /* Optional: fügt einen horizontalen Abstand hinzu */
  padding: 10px; /* Optional: fügt einen inneren Abstand hinzu */
  /* font-size: 16px; // Optional: definiert die Schriftgröße */
  border-radius: 20px;
  border: 20px solid #202020;
  background-color: #202020;
}

.header_copyright {
  font-size: 16px;
  color:#707070;
  padding-top: 10px;
}

.button {
  border: 2px solid #101010;
  background-color: #101010;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.body_box {
  flex: 1; /* Teilt den verfügbaren Platz auf die Textboxen auf */
  margin: 10px 10px; /* Optional: fügt einen horizontalen Abstand hinzu */
  padding: 10px; /* Optional: fügt einen inneren Abstand hinzu */
  /* font-size: 16px; // Optional: definiert die Schriftgröße */
  border-radius: 20px;
  /* border: 2px solid #580000; */
  background-color: #474747;
}

.body_title {
  font-size: 20px;
}

.text {
  margin: 10px;
}
